numpy==2.5.0
opencv-python==4.13.0.92
pynput==1.8.2
pyobjc-core==12.2.1
pyobjc-framework-ApplicationServices==12.2.1
pyobjc-framework-Cocoa==12.2.1
pyobjc-framework-CoreText==12.2.1
pyobjc-framework-Quartz==12.2.1
six==1.17.0
